/* Header Styles */
* {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 48px;
  font-weight: bold;
  color: #4b5320;
  text-align: center;
  background-color: #d5ecc2;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #4a90e2;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}
ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
ul3 {
  color: black;
}
.background-info {
  background-color: #ffdab9;
  padding: 20px;
  margin-top: 0;
  text-align: center;
  /* position: relative; */
  min-height: 700px;
  width: 100%;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
h1,
h2,
header,
footer {
  margin: 0;
}
.round-image {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  /* display: inline-block; */
  margin-top: 5px;
  /* margin-left: auto;
  margin-right: auto; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); Adjust position for exact centering */
}
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
img {
  width: 50%;
  height: 200px;
  margin: 20px auto;
  display: block;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}
.skills {
  background-color: black;
  color: whitesmoke;
  font-style: normal;
  align-items: center;
  text-align: center;
}
p {
  text-align: center;
  margin-left: 20px;
  width: 50%;
  height: 200px;
  margin: 20px auto;
  display: block;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}
